---
---

@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
  -webkit-transition: $what $time $how;
  -moz-transition:    $what $time $how;
  -ms-transition:     $what $time $how;
  -o-transition:      $what $time $how;
  transition:         $what $time $how;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=$opacity*100);
}


figure.animated_gif_frame {
  position: relative;
  cursor: pointer;
  text-align: center;
  @include opacity(0.85);
  @include transition(opacity, 0.2s, ease-in-out);
  &:hover, &.playing {
    @include opacity(1);
  }

  &::before {
    content: attr(data-caption);
    pointer-events: none;
    position: absolute;
    z-index: 100;
    text-align: center;
    line-height: 1.5;
    border: solid 3px #666;
    border-radius: 8px;
    font-weight: 700;
    color: #666;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    height: 1.5em;

    top: 110%;
    margin-top: -1em;
    white-space: nowrap;
    font-size: 16px;
  }

  &.playing::before {
    display: none;
  }

  img.animated_gif {
    padding: 0 !important;
    border: none;
    @include box-shadow(none);
    @include opacity(0.5);
  }

  figcaption.captiongif {
    position: absolute;
    top: 80%;
    background: rgba(0, 0, 0, .5);
    color: white;
    display: block;
    width: 50%;
    padding: 0;
    line-height: 1.2;
  }

  &.playing {
    img {
      @include opacity(1);
    }

    figcaption {
      display: none;
    }
  }
}
